In [1]:
import pandas as pd
from ast import literal_eval

In [2]:
tracks = pd.read_csv("../data/raw/random_tracks.csv", parse_dates=["release_date"], index_col=0).sort_index()

In [3]:
max_len = tracks["artists"].apply(lambda x: literal_eval(x)).apply(lambda x: len(x)).max()

artists = (
    tracks["artists"]
    .apply(lambda x: literal_eval(x))
    .apply(lambda x: ";".join(x))
    .str.split(";", expand=True)
    .rename(columns={num: f"artist_{num + 1}" for num in range(max_len + 1)})
)

artists.head()

,artist_1,artist_2,artist_3,artist_4,artist_5,artist_6,artist_7,artist_8,artist_9,artist_10,artist_11,artist_12,artist_13,artist_14,artist_15,artist_16,artist_17,artist_18,artist_19,artist_20
8,Greg Fieler,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
59,Dick Haymes,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
207,Louis Armstrong & His Savoy Ballroom Five,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
208,Margaret Johnson,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
209,Louis Armstrong,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [4]:
tracks_and_artists = (
    tracks
    .drop(columns="artists")
    .join(artists)
)

tracks_and_artists = (
    tracks_and_artists
    .drop(columns=["id_artists", *[f"artist_{num}" for num in range(4, 20 + 1)]])
    .rename(columns={"id": "song_id", "name": "song_name"})
    .filter([
        "song_id", "song_name", "artist_1", "artist_2", "artist_3", "release_date",
        "popularity", "duration_ms", "explicit", "danceability", "energy",
        "loudness", "speechiness", "acousticness", "instrumentalness", "liveness",
        "key", "valence", "tempo", "time_signature"
        ])
)

In [5]:
tracks_and_artists.to_parquet("../data/processed/random_tracks.parquet")